main {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 0px;

  @media (max-width: 500px) {
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 25vw);
  }
}

.app-square {
  border: 1px gray solid;
  height: 100px;
  @media (max-width: 500px) {
    height: 25vw;
  }
}

h1,
h2,
.new-btn {
  font-family: "Permanent Marker", cursive;
  color: aliceblue;
  letter-spacing: 2px;
  text-align: center;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

@media (max-width: 500px) {
  h1,
  h2 {
    font-size: 6vw;
  }
}

.new-btn {
  background-color: transparent;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border: 3px solid aliceblue;
  border-radius: 20px;
}

.new {
  text-align: center;
  margin-top: 10px;
}

.player_X {
  color: rgb(122, 224, 228);
}

.player_O {
  color: rgb(231, 243, 62);
}
